<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="/common_header :: commonHeader('brand')"></head>
<body>
<form enctype="multipart/form-data" method="post" action="/brand/save">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> </button>
        <h4 class="modal-title" id="myModalLabel">brand icon upload</h4>
    </div>
    <div class="modal-body">
        <div class="input-group">
            image<input type="file" id="edit_image" name="file"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
        <input type="submit" class="btn btn-primary" id="edit_save" value="submit">提交</input>
    </div>
</form>
</body>
</html>