#container {
    width: 800px;
    margin: 0 auto;
}
#toolbar-container {
    border: 1px solid #ccc;
    background-color: #fff;
}
#toolbar-container:after {
    display: table;
    content: '';
    clear: both;
}
#editor-toolbar {
    float: left;
}
#btn-container {
    float: right;
    text-align: right;
}
#editor-text {
    border: 1px solid #ccc;
    border-top: 0;
    height: 300px;
    background-color: #fff;
}
#cover {
    display: none;
    position: fixed;
    z-index: 100;
    top: 50px;
    left: 50px;
    right: 50px;
    height: 500px;
    padding: 20px;
    background-color: #f1f1f1;
}